*{
    margin: 0;
    padding: 0;
}
h1{
    position: absolute;
    top: 5%;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
  
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F6416C;
}
.container{
    margin-top: 70px;
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box{
    width: 93%;
    height: 93%;
    color: black;
    background-color: white;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    cursor: pointer;
}
.players{
    color: white;
    height: 200px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}
.player2{
    margin-left: 40px;
}
.form{
    background-color:rgb(181, 8, 150);
    position: absolute;
    height: 220px;
    width: 325px;
    bottom: 40%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 8px 9px rgba(0, 0, 0, 0.1);
}
.formed{
    background-color:rgb(181, 8, 150);
    position: absolute;
    height: 220px;
    width: 350px;
    bottom: 40%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 8px 9px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}
#pl1,#pl2{
    padding: 10px;
    margin: 10px;
    outline: none;
    border-radius: 30px;
    width:90%;
    border: none;
}
label{
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.submit-button {
    border-radius: 30px;
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(219, 7, 180); /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Size padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover and click effects */
  }
  
  .submit-button:hover {
    background-color: rgb(139, 5, 115); /* Darker green on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
  
  .submit-button:active {
    background-color: rgb(117, 2, 96); /* Even darker green on click */
    transform: translateY(1px); /* Slight press effect */
  }
  